<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Stylelabs - Partners" value="https://slpartners.myget.org/F/m-public/api/v3/index.json" protocolVersion="3" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>
